<div
  class="sidenotes-wrapper"
  ...attributes
  {{did-update this.onSelectedSidenoteIdUpdate @selectedSidenoteId}}
  {{did-update this.onItemsDidChange @items}}
>
  {{yield
    @items
    (hash
      onRegister=this.onRegisterSidenote
      onResize=this.onResizeSidenote
      onSelect=this.onSelectSidenote
      onUnselect=this.onUnselectSidenote
      selectedSidenoteId=this._selectedSidenoteId
    )
    (component "sidenote")
    this.updatedNotes
  }}
</div>